
.div{
  height:4rem;
}
.m0 *{
  margin: 0;
}
.w div{
  width: 15%;
}
.decoration{
  text-decoration: line-through;
}

.btn Button{
  width:'50%' ;
  height:'100%';
  background:'#FF9200';
  border-radius:'2px' ;
  border-color:'#FF9200';
}
.mg{
  
  left: 30% !important;
  top:5% !important
}
.cartt{
  border-left: 3px  solid  gray ;
  width:25%;
}
.sec{
  height: calc(100vh - 80px);
  overflow: auto;
  background: "#F3F4F6"
}

.imageBack{
  background-image: url("./assets/200120161356-cnn-worlds-best-new-restaurants---madera---simon-brown-photography-1-1.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 60px);
  width: 100%;

}

@media screen and (max-width:550px) {
  .mg{
    left: 0 !important;
  }
  
}

@media screen and (max-width:650px) {
  .cartt{
    border-left:0 !important;
    width:80% !important;
    margin: auto !important;
  }
  
}

